body {
  background-image:url("http://rs759.pbsrc.com/albums/xx235/zathaz/naruto%20gifs/6jpv83.gif~c200")  
}

nav a {
    color: red
}

#current-link{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
    font-size: 40px;
}

img {
    width: 400px;
    height:auto;
}

h1{
    border-style: double;
    border-width: 5px;
    border-color: red; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 0;
}
p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}